
		<body background="images/tourism.jpg">
			<div id="changepass">
				
				<div class="container">
					<div id="changepass-row" class="row justify-content-center align-items-center">
						<div id="changepass-column" class="col-md-6">
							<div id="changepass-box" class="col-md-12">
								<form id="changepass-form" class="form" action="" method="post">
									<h3 class="text-color">Change Password</h3><br/>
									<input type="password" name="currpass" placeholder="Current Password" required=""[(ngModel)]="currp" class="form-control" #txtp="ngModel">
									<span class="error" *ngIf="txtp.touched && txtp.invalid && txtp.errors.required">Old Password cannot be blank</span> <br/>
          
						<input type="password" name="newpass" placeholder="New Current Password"[(ngModel)]="newp" required pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{4,8}$" #txtpass="ngModel" class="form-control">
						<span class="error" *ngIf="txtpass.touched && txtpass.invalid && txtpass.errors.required">New Password cannot be blank</span>
                        <span class="error" *ngIf="txtpass.touched && txtpass.invalid && txtpass.errors.pattern">
						 Password must at least 4 Characters,no more than 8 charcters,at least one uppercase and lowercase letter</span><br/>
          
						<input type="password" name="cnewpass" placeholder="Confirm New Password" required=""[(ngModel)]="cnewp"#txtcpass="ngModel" class="form-control">
						<span class="error" *ngIf="txtcpass.touched && txtcpass.invalid && txtcpass.errors.required">Confirm Password cannot be blank</span><br/>
					
									
					<input type="submit" value="Change Password" name="s1" (click)="onchangepass()"  class="btn"><br/>
					{{msg}}
									
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</body>