/* Footer */
 @import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'); 



.container-fluid
{
    background-color:#455A64;
    color: rgb(247, 246, 250);

}

.h
{
    margin-top:50px;
    margin-left: 150px;
    font-family: Brush Script MT, Brush Script Std, cursive;
    letter-spacing: 1px;
    font-size:30px;
}

.link
{
    margin-top:50px;
    margin-left:180px;
}

.link1
{
    margin-top:50px;
}


p
{
    margin-left:150px;
}

.m
{
    margin-top: 50px;
}



.footer
{
    margin-top: 50px;
}


h5
{
    font-family: Brush Script MT, Brush Script Std, cursive;
    letter-spacing: 2px;
    font-size:30px;
}

.d
{
    color: rgb(247, 246, 250);
}
