<!-- <!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!-- Footer -->
<!-- <body>
	<section id="footer">
		<div class="container">
			<div class="row text-center text-xs-center text-sm-left text-md-left">
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick Links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Get Started</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Videos</a></li>
					</ul>
				</div>
				<div class="col-xs-12 col-sm-4 col-md-4">
					<h5>Quick links</h5>
					<ul class="list-unstyled quick-links">
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>Home</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>About</a></li>
						<li><a href="javascript:void();"><i class="fa fa-angle-double-right"></i>FAQ</a></li>
					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
					<ul class="list-unstyled list-inline social text-center">
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-facebook"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-twitter"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-instagram"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();"><i class="fa fa-google-plus"></i></a></li>
						<li class="list-inline-item"><a href="javascript:void();" target="_blank"><i class="fa fa-envelope"></i></a></li>
					</ul>
				</div>
				<hr/>
			</div>	
			<div class="row">
				<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-2 text-center text-white">
					<p class="h6">© Holidify Pvt Ltd.- All Right Reserved</p>
				</div>
				<hr/>
			</div>	
		</div>
  </section>
</body>    -->
	<!-- ./Footer -->
<!-- Footer -->
<footer class=" container-fluid">

	<!-- Footer Links -->
	
  
	  <!-- Grid row -->
	  <div class="row">
  
		<!-- Grid column -->
		<div class="col-md-4 mt-md-0 mt-3">
  
		  <!-- Content -->
		  <h5 class="h">About Us</h5>
		  <p>>>We are committed to offering tourism services of the highest quality, combining our energy and enthusiasm, with our years
			of experience.</p>
  
		</div>
		<!-- Grid column -->
  
		
  
		<!-- Grid column -->
		<div class="col-md-3 link ">
  
		  <!-- Links -->
		  <h5> Quick Links</h5>
  
		  <ul class="circle">
			<li>
			 <a routerLink=""><span class="d">Home</span></a>
			</li>
			<li>
			  <a routerLink=""><span class="d">About us</span></a>
			</li>
			<li>
			  <a routerLink=""><span class="d">Contact Us</span></a>
			</li>
			<li>
			  <a routerLink=""><span class="d">Destinations</span></a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
		<!-- Grid column -->
		<div class="col-md-3 link1">
  
		  <h5> Quick Links</h5>
  
		  <ul class="circle">
			<li>
			  <a href=""><span class="d">Login</span></a>
			</li>
			<li>
			  <a href="#!"><span class="d">Sign Up</span></a>
			</li>
			<li>
			  <a href="#!"><span class="d">FAQ</span></a>
			</li>
			<li>
			  <a href="#!"><span class="d">Getting Started</span></a>
			</li>
		  </ul>
  
		</div>
		<!-- Grid column -->
  
	  </div>
	  <!-- Grid row -->
  
	
	<!-- Footer Links -->
  
	<!-- Copyright -->
	<div class="col-xs-12 col-sm-12 col-md-12 mt-2 mt-sm-5">
		<ul class="list-unstyled list-inline social text-center">
			<li class="list-inline-item"><a href="javascript:void();"><span class="d"><i class="fa fa-facebook"></i></span></a></li>
			<li class="list-inline-item"><a href="javascript:void();"><span class="d"><i class="fa fa-twitter"></i></span></a></li>
			<li class="list-inline-item"><a href="javascript:void();"><span class="d"><i class="fa fa-instagram"></i></span></a></li>
			<li class="list-inline-item"><a href="javascript:void();"><span class="d"><i class="fa fa-google-plus"></i></span></a></li>
			<li class="list-inline-item"><a href="javascript:void();" target="_blank"><span class="d"><i class="fa fa-envelope"></i></span></a></li>
		</ul>
	</div>
	<div class="footer-copyright text-center py-3">© 2019 Copyright:
	  <a routerLink="/sitehome"> <span class="d">Tripism.com</span></a>
	</div>
	<!-- Copyright -->
  
  </footer>
  <!-- Footer -->
