<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Goa</h2>
</div>

    <div class="container">
    <div class="row">
    <div class="col-md-4">
        <figure class="card">
            <div class="img-wrap"> 
                <img src="images/goa1.jpg" height="550px">
            </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card">
            <div class="img-wrap"> <img src="images/goa2.jpg" height="550px">
            
            </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card">
            <div class="img-wrap"><img src="images/goa3.jpg" width="520px" height="550px"> 
            
         </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    
    </div> <!-- row.// --><hr>
</div>

<div class="container c">
        <h2 class="h">Introduction</h2>
    <p>Lying on the west coast, Goa is one of the smallest states in India known for its brilliant beaches, scrumptious food and Portuguese heritage. Panjim, the capital city located in the centre is well-connected with an international airport and roads and trains run from North to South part of Goa.</p>
    <p>With a coastline stretching for over 100 kilometres, Goa has numerous beaches that attract millions of visitors. While Baga and Calangute are more popular among the Indian family crowd, Anjuna and Arambol draw a lot of foreign tourists. The beaches in South Goa are relatively lesser explored, but some of them like Agonda and Palolem are more beautiful.</p>
    <p>A former Portuguese colony, Goa also boasts of beautiful architecture from the colonial era with many churches and old-style bungalows. The people are quite friendly towards tourists and celebrate many festivals throughout the year. While the seafood is excellent, Goa has one of the best nightlife in the country with trendy bars, beach shacks, elegant cafes and many clubs and discotheques. Thanks to lower alcohol prices in the state, Goa is also great for younger tourists with relatively tighter pockets.</p><hr>
</div>

<div class="container c">
        <h2 class="h">How To Reach</h2>
   <p>With over 2 million tourists coming in every year, Goa has to be well connected and accessible. Goa is easily accessible by road, rail and air. Being such a popular holiday destination, there are various alternative commute options to reach here.</p>
   <p>The nearest major entry point to Goa from different parts of the world is  Mumbai International Airport or Chhatrapati Shivaji International Airport. Mumbai being the major city is easily accessible to Goa via flights, railways, and roadways.</p><hr>
</div>


<div class="container c">
        <h2 class="h">Best time to visit</h2>
  <p>The best time to visit Goa is between November to February when the weather is perfect, not very cold, not very hot. It's also a good time as almost all the beach shacks are open during these months. Water sports, like banana boat ride, jet ski, parasailing, etc. are also open to tourists during these months on most of the popular beaches. If you like to party, this is the time to go to Goa. Goa is considered to be one of the best places in India to enjoy Christmas and New Year season as the entire Goa is full of festivity.</p>
  <ul>
    <li><b>Summer:</b>March, April, May & October</li>
    <li><b>Monsoons:</b>June and end in September</li>
    <li><b>Winters:</b>November, December, January, February</li>
  </ul><hr>
</div>

<div class="container c">
        <h2 class="h">Food</h2>
        <p>Goa is home to everything refreshing, zesty, exotic and colourful. And this includes Goan food. The food here is a blend of Konkani, Hindu, Portuguese and Catholic cuisines, providing wide and vibrant choices. Seafood, coconut milk, rice and local spices are the main elements of Goan cuisine and fish, curry and rice form the staple food. Goan food with its unique combination of coconut, rice, and spices form a rich Portuguese as well as South Indian cuisine. </p>
        <p>Seafood like prawns, lobsters, crabs, pomfret fish, clams, ladyfish, mussels, and oysters is used to make a variety of curries, fries, soups and pickles. Fish curry, fried fish, fish cutlets are just some of the items that you must savour in Goa.</p><hr>
</div>
