<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Package Details</h2>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div>
            <img src="images/goa.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6 ">
        <h3 class="a">Best of Goa</h3>
        <span class="pr">Rs.4999/-</span>
        <del class="pr1">Rs.6000/-</del>
        <h4 class="d">4 days 3 nights</h4>
        <a routerLink="/booking" class="btn btn-primary btn-sm "> Book Now! </a>
       
    </div>
</div>
</div>

<div class="container c">
    <h2 class="h">Inclusions</h2>
<ul type="circle">
   <li>Accommodation as per plan.</li>
   <li>All inter transfer & sightseeing as per Itinerary by Suitable NON AC Vehicle.</li>
   <li>News paper and bottled water on arrival.</li>
   <li>All parking and permit charges.</li>
   <li>Assistance on arrival.</li><hr>
</ul>
</div>

<div class="container c">
    <h2 class="h">Exclusions</h2>
<ul type="circle">
  <li>Government Service Tax as applicable on the above rates.</li>
  <li>Airfare, Train Fare, Insurance Premium etc.</li>
  <li>Entry Fee to Any Monument, Park, Museum, Monastery or any other visiting places.</li>
  <li>Payment for service provided on personal basis.</li>
  <li> Expenses incurred due to mishap, landslide, strikes, political unrest etc. In such cases extra will    be charged as per actual.</li><hr>
  
</ul>
</div>


<div class="container c">
        <h2 class="h">Itinerary</h2>
  <h4>Day 1 and Day 2: North Goa</h4>
  <p>Scenic beaches, exciting water-sports, partying spots, and architectural landmarks come together to make North Goa a traveler’s delight. When you are on a 4-day trip in Goa, make sure that you devote at least 2 days to explore the attractions in North Goa. Here are our suggestions.Anjuna Beach is among the best spots to experience the classic Goan vibe. During the day, this gorgeous beach sizzles with its glowing white sands, a plethora of water-sports, and several restaurants and shacks that offer a taste of authentic Goan cuisine and more. Once evening hits this beach, it transforms into a spot for enjoying an enticing nightlife, making it one of the top places to visit in Goa at night. The flea market held here every Wednesday is a crowd-puller. If you happen to be in Goa on a Wednesday, you shouldn’t give it a miss.</p>
<h4>Day 3 and Day 4: South Goa</h4>
<p>South Goa is a pleasant mix of man-made marvels and natural wonders, underlined with a tranquillity that’s hard to find in North Goa. Here’s what we suggest you include from the south in your list of places to visit in Goa in 4 days.A scenic stretch of golden sand dotted with lush green palm trees and vibrant beach shacks – that’s Palolem Beach for you. One of the most spectacular places to visit in Goa in 4 days, Palolem is among those beaches where you can laze around for the whole day or engage in a number of activities. It offers you an interesting mix of things to do in South Goa, including adventurous water sports, flea market shopping, and eating out at the beachside restaurants.</p>
</div>


