body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: 1550px 800px;
  }
   #login-box {
    margin-top: 250px;
    max-width: 550px;
    height: 325px;
    border: 1px solid #9C9C9C;
    border-radius: 30px;
    background-color: rgb(94, 82, 82,0.9);
  }
   #login-form {
    padding: 20px;
  }


   .text-color
  {
      color: #f5f5f5;
      text-align: center;
  }

  .btn
  {
      background-color: grey;
      color:#f5f5f5;
  } 

  .error
  {
      color:rgb(223, 87, 87);
  }
  
  input.ng-invalid.ng-touched
  {
      border:2px solid rgb(223, 87, 87);
  }
  
  input.ng-valid.ng-touched
  {
      border:2px solid green;
  }

  body
  {
    background-image: url("/images/tourism.jpg");
  }
