

  <div class="container-fluid">
  </div>

  <div class="container">
            <h2 class="heading">About <span>Us</span></h2>
        
        <div class="row">
            <div class="col-md-6 ">
                <h3 class="a">Welcome</h3>
                <h4 class="w">We are committed to offering tourism services of the highest quality, combining our energy and enthusiasm, with our years
                    of experience. Our greatest satisfaction comes in serving large numbers of satisfied clients who have experienced the
                    joys and inspiration of travel.Highly skilled and experienced staff is always available to assit you on any enquiry you may have, always aiming at the best possible service of yours.</h4>
            </div>
            <div class="col-md-6">
                <div>
                    <img src="images/tourism.jpg" alt="" class="img-fluid">
                </div>
            </div>
        </div>
 </div>

    

