<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Destinations</h2>
</div>
        <div class="container">
        <div class="row">
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"> 
                    <img src="images/goa.jpg" height="500px">
                </div>
                <figcaption class="info-wrap">
                    <h6>Goa</h6>
                    <div class="action-wrap">
                        <a routerLink="/goadestdetails" class="btn btn-primary btn-sm float-left"> Destination Details </a>
                        <a routerLink="/goapdetails" class="btn btn-primary btn-sm float-right"> Package Details </a>
                    </div> <!-- action-wrap -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"> <img src="images/himachal.jpg" height="500px">
                
                </div>
                <figcaption class="info-wrap">
                    <h6>Himachal Pradesh</h6>
                    <div class="action-wrap">
                        <a routerLink="/himachaldestdetails" class="btn btn-primary btn-sm float-left">Destination Details</a>
                        <a routerLink="/himachalpdetails" class="btn btn-primary btn-sm float-right"> Package Details </a>
                        
                    </div> <!-- action-wrap -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        <div class="col-md-4">
            <figure class="card card-product">
                <div class="img-wrap"><img src="images/rajasthan.jpg" width="500px"> 
                
                </div>
                <figcaption class="info-wrap">
                    <h6>Rajasthan</h6>
                    <div class="action-wrap">
                        <a routerLink="/rajasthandestdetails" class="btn btn-primary btn-sm float-left"> Destination Details</a>
                        <a routerLink="/rajasthanpdetails" class="btn btn-primary btn-sm float-right"> Package Details </a>
                    </div> <!-- action-wrap -->
                </figcaption>
            </figure> <!-- card // -->
        </div> <!-- col // -->
        
        </div> <!-- row.// -->
        
        
        </div> 
