<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Package Details</h2>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div>
            <img src="images/himachal.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6 ">
        <h3 class="a">Best of Himachal</h3>
        <span class="pr">Rs.3999/-</span>
        <del class="pr1">Rs.5000/-</del>
        <h4 class="d">4 days 3 nights</h4>
        <input type="button" value="Book Now!"class="btn btn-primary btn-sm float-left"(click)="ons1click()"> 
       
    </div>
</div>
</div>

<div class="container c">
    <h2 class="h">Inclusions</h2>
<ul type="circle">
   <li>Accommodation as per plan.</li>
   <li>All inter transfer & sightseeing as per Itinerary by Suitable NON AC Vehicle.</li>
   <li>News paper and bottled water on arrival.</li>
   <li>All parking and permit charges.</li>
   <li>Assistance on arrival.</li><hr>
</ul>
</div>

<div class="container c">
    <h2 class="h">Exclusions</h2>
<ul type="circle">
  <li>Government Service Tax as applicable on the above rates.</li>
  <li>Airfare, Train Fare, Insurance Premium etc.</li>
  <li>Entry Fee to Any Monument, Park, Museum, Monastery or any other visiting places.</li>
  <li>Payment for service provided on personal basis.</li>
  <li> Expenses incurred due to mishap, landslide, strikes, political unrest etc. In such cases extra will    be charged as per actual.</li><hr>
  
</ul>
</div>


<div class="container c">
        <h2 class="h">Itinerary</h2>
  <h4>Day 1: Delhi-Shimla</h4>
  <p>Arrive Delhi Airport/Railway Station & Transfer by road to Shimla (343 kms/8 hrs) former summer capital of British India & now a capital of Himachal Pradesh, set amidst the snow capped shivalik mountain ranges offering some stunning views of the mighty Himalayas, Arrive & check in the Hotel .Rest of the day is at leisure, Night stay in Shimla.</p>
  <h4>Day 2: Shimla-Kufri-Shimla</h4>
  <p>In the morning visit the Kufri a 30 Minutes drive from Shimla, an exotica of nature as a place surrounded by dense forest and snow caped mountains amidst virgin peaks and natures flora and fauna where one can completely relax and tune oneself for natural beauty, situated at an altitude of 2500 meters just an hours drive from Shimla and a very popular ski resort during the winter months. Later take a walking tour of Shimla &, visit the Jakhoo hills which, offers panoramic vies of the Shimla town, Vice-regal lodge Mall road, Night stay in Shimla.</p>
  <h4>Day 3: Shimla-Manali</h4>
  <p>Morning drive to Manali (285 kms / 7 hrs) a picture-perfect hill resort at an altitude of 1,929 metres. Set amidst pine-clad mountains, which gradually close in on both sides of the Beas and nestling in their shade, as though carved out of primeval forest, is a scattered hamlet, which comprises this picturesque summer resort. Arrive & check in the hotel. Rest of the evening is at leisure Night stay in Manali.</p>
  <h4>Day 4: Chandigarh-Delhi</h4>
  <p>Morning check out from the Hotel & transfer by road to Delhi (256 kms/5 - 6 hrs) to board the flight for onward destination.</p><hr>
</div>


