<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Rajasthan</h2>
</div>

    <div class="container">
    <div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"> 
                <img src="images/rajasthan1.jpg" height="550px">
            </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"> <img src="images/rajasthan2.jpg" height="550px">
            
            </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="images/rajasthan3.jpg" width="520px" height="550px"> 
            
         </div>
        </figure> <!-- card // -->
    </div> <!-- col // -->
    
    </div> <!-- row.// --><hr>
</div>

<div class="container c">
        <h2 class="h">Introduction</h2>
<div id="p1">      
<p>Rajasthan, popularly known to many as the Land of the Kings, is a beautiful example of India?s age-old opulence and grandeur, traces of which still linger in the air of this state. One of the most colourful and vibrant states in the country, with a strong blend of culture, history, music, cuisine and people welcoming you with smiling faces, falling in love with Rajasthan doesn?t take much time. Rajasthan has more history than the entire country put together- it is the realm of erstwhile Maharajas and their lavish palaces and majestic forts. Rajasthan is steeped in a past filled to the brim with honour, chivalry and heroism. Golden-sand deserts, traditional handicrafts, authentic cuisine and awe-inspiring palaces all contribute to making Rajasthan an ideal vacation spot. Don't forget to wish everyone with "Khamma Ghani" while you're here!</p>
<p>Rajasthan abounds in forts which offer sweeping views of the panoramic landscape. Three most essential forts in Rajasthan are the Amber Fort in Jaipur, Mehrangarh Fort in Jodhpur and Jaisalmer Fort, commonly known as Sonar Quila. Rajasthan also has a significant number of palaces that are of historical significance, the famous ones being the Umaid Bhawan Palace and the Jaipur City Palace. Both of these palaces date back to the high times, and you can see the furniture and other objects used by the royal families on view in these palaces.</p><hr></div>  
</div>

<div class="container c">
        <h2 class="h">How To Reach</h2>
        <div id="p2"> 
        <p>The best way to reach Rajasthan is by air as well as railway, either will suffice depending on your choice of city. Bigger cities like Udaipur, Jaipur or Jodhpur have airports while small ones like Bundi, Ranakpur etc are better reached by direct trains.</p><hr></div>
</div>

<div class="container c">
        <h2 class="h">Best time to visit</h2>
        <div id="p3"> 
  <p>The best time to visit Rajasthan is between October and February which is the winter season as the temperature remains warm and pleasant throughout the day during winters making it perfect explore all the palaces, temples, and forts. July to September can also be an excellent time to visit as the mostly dry and arid state receives some amount of rainfall, but the humidity and the temperatures are mostly high. The state also experiences extremely high temperatures during the summer season which begin in March and last till June.</p><hr></div>
</div>


<div class="container c">
        <h2 class="h">Food</h2>
        <div id="p4"> 
        <p>Rajasthanis love their food which can be evidenced in the time and energy they put into their preparations. The cuisine of Rajasthan is primarily vegetarian and offers a fabulous variety of mouthwatering dishes. The food here is such that it is suitable for the weather, availability of water, and other environmental factors of the area. </p>
        <p>Rajasthan is much of what its culture is, and the culture here derives a lot of its colour, festivity, significance and of course, spice, often literally from the diverse and exquisite cuisine here. The delicacies of the state are indeed some of the richest, unique and most loved preparations of India. Names such as Dal Bati Churma, Moong Dal ka Halwa, Ghevar, Rabdi and numerous more are popular all across, especially in North India, with their popularity spreading beyond the confines of the state, Your trip might be incomplete if you don't try the scrumptious dishes that the land has to offer, especially the Rajasthani thali.</p><hr></div>
</div>
