

<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Tripism</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home
                <span class="sr-only">(current)</span>
              </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="#">Welcome {{name}}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/memberlist">List of users</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/viewmessage">User's Messages</a>
        </li>
        <li class="nav-item" *ngIf="visibility">
          <a class="nav-link" routerLink="login.html">Login</a>
        </li>
        <li class="nav-item" *ngIf="visibility">
          <a class="nav-link" routerLink="signup.html">Signup</a>
        </li>
        <li class="nav-item" *ngIf="!visibility">
          <a class="nav-link" routerLink="changepassword">Change Password</a>
        </li>
        <li class="nav-item" *ngIf="!visibility">
          <a class="nav-link" routerLink="/sitehome"(click)="onlogout()">Logout</a>
        </li>
        
      </ul>
    </div>
  </div>
</nav>