<div class="container-fluid">
</div>
<div class="container">
    <h2 class="m">Package Details</h2>
</div>

<div class="container">
<div class="row">
    <div class="col-md-6">
        <div>
            <img src="images/rajasthan.jpg" alt="" class="img-fluid">
        </div>
    </div>
    <div class="col-md-6 ">
        <h3 class="a">Best of Rajasthan</h3>
        <span class="pr">Rs.4599/-</span>
        <del class="pr1">Rs.5500/-</del>
        <h4 class="d">4 days 3 nights</h4>
        <a routerLink="/booking" class="btn btn-primary btn-sm "> Book Now! </a>
       
    </div>
</div>
</div>

<div class="container c">
        <h2 class="h">Inclusions</h2>
   <ul type="circle">
       <li>Accommodation as per plan.</li>
       <li>All inter transfer & sightseeing as per Itinerary by Suitable NON AC Vehicle.</li>
       <li>News paper and bottled water on arrival.</li>
       <li>All parking and permit charges.</li>
       <li>Assistance on arrival.</li><hr>
   </ul>
</div>

<div class="container c">
        <h2 class="h">Exclusions</h2>
  <ul type="circle">
      <li>Government Service Tax as applicable on the above rates.</li>
      <li>Airfare, Train Fare, Insurance Premium etc.</li>
      <li>Entry Fee to Any Monument, Park, Museum, Monastery or any other visiting places.</li>
      <li>Payment for service provided on personal basis.</li>
      <li> Expenses incurred due to mishap, landslide, strikes, political unrest etc. In such cases extra will    be charged as per actual.</li><hr>
      
  </ul>
</div>


<div class="container c">
        <h2 class="h">Itinerary</h2>
  <h4>Day 1 –Delhi –Udaipur 663 KM</h4>
  <p>The journey will start after you reach the Maharana Pratap Airport and checking into any 3/4/5 Star Hotel of Udaipur of your choice and after having an appetizing breakfast you can move on to explore Udaipur. The excursion should start with the visit of the Udaipur City palace, which has been constructed by Maharaja Udai Singh which is designed according to the styles of the Indo Mughal architecture and Jagdish temple-one of the iconic construction of Hinduism. The journey will be followed by the trip of Pichola Lake and the Fateh Sagar Lake; moving on next to the Saheliyon ki Bari which is a wonderful Garden surrounded by lotus pools and marble made elephants.</p>
  <h4>Day 2 – Udaipur – Ajmer; 275 Km</h4>
  <p>On the second you can continue the rest of the Udaipur tours which will continue the journey via Jag Mandir Palace which is one of the most lavish hotels of and move on to explore ancient religious shrines of the city of Ajmer. You can have a journey of almost 5 hours and check in to your pre booked accommodation that can be availed at any 3/4-star hotel i.e. Country Inn, The Royal Melange beacon etc. The trip can start off with the primary attraction of Ajmer is the Dargah (tomb) of popular Sufi saint Khwaja Moinuddin Chishti then moving on to the Taragarh Fort and the excursion will be followed by the trip of the Ana Sagar Lake. Late evening you can move onto your accommodation.</p>
  <h4>Day 3 – Ajmer – Jaipur; 130 Km</h4>
  <p>On the third day you can have a nice shopping at the streets of Ajmer or have a nice trip of the Foy Sagar Lake which are the normal morning sightseeing tour of Ajmer, and in the early afternoon you can have a smooth drive of 2-3 hours to Jaipur, the capital of Rajasthan, and popularly as the "Pink City" on account of the color of its houses and temples. After reaching to the city you can have a nice accommodation in 3, 4 or 5-Star hotel such as Jaipur Marriott, Jai Mahal Palace, Umaid Bhawan Palace, Lalit Jaipur and many others. City Palace The palace is a blend of Rajput and Mughal architecture; it has seven stories in it. Chandra Mahal is located in the central part of the fort, which affords a fine view of the gardens and the city. It engages a proportion of one seventh part of Jaipur.</p>
  <h4>Day 4– Jaipur Tour and Departure</h4>
  <p>A full day will be spent on sightseeing in Jaipur, one of the country’s hottest holiday destinations! Your tour will include visits to the Amer Fort one of the oldest architecture of Hindu and Muslim culture and the architecture belong to the 16th century fort located on the hill top. Jaipur is popularly known as the Pink City of India and is the capital city of Rajasthan. It has a number of historical footprints left in it. The place is considered as the Royal kingdom of the Rajputs. It is one of the best planned cities of India. The handicrafts of Jaipur are worth seeing.More tourists’ places will include the Bira Mandir, Jaipur Zoo, Nahargarh Fort which is a fort from where you can have a stunning view of the city. You can end your trip after dinner and will follow by transfers from Hotel to Airport.</p><hr>
</div>


