<div class="container-fluid">
<div id="slideshow">
		<div>
		  <img src="images/banner2.jpg" height="620px" width="1550">
		</div>
		<div>
		  <img src="images/rajasthan.jpg" height="620px" width="1550">
		</div>
		<div>
		  <img src="images/banner1.jpg" height="620px" width="1550">
		</div>
		<div>
		  <img src="images/banner3.jpg" height="620px" width="1550">
		</div>
</div>
</div>

<div class="container">
<h2 class="m">Special offers</h2>
</div>
<div class="container">
<div class="row">
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"> 
			<img src="images/goa.jpg" height="500px">
		</div>
		<figcaption class="info-wrap">
			<h6>Goa</h6>
			<div class="action-wrap">
				<input type="button" value="Book Now!"class="btn btn-primary btn-sm float-right"(click)="ons1click()"> 
				<div class="price-wrap h5">
					<span class="price-new">Rs.4999</span>
					<del class="price-old">Rs.6000</del>
				</div> <!-- price-wrap.// -->
			</div> <!-- action-wrap -->
		</figcaption>
	</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"> <img src="images/himachal.jpg" height="500px">
		
		</div>
		<figcaption class="info-wrap">
			<h6>Himachal Pradesh</h6>
			<div class="action-wrap">
				<input type="button" value="Book Now!"class="btn btn-primary btn-sm float-right"(click)="ons1click()"> 
				<div class="price-wrap h5">
					<span class="price-new">Rs.3999</span>
					<del class="price-old">Rs.5000</del>
				</div> <!-- price-wrap.// -->
			</div> <!-- action-wrap -->
		</figcaption>
	</figure> <!-- card // -->
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="images/rajasthan.jpg" width="500px"> 
		
		</div>
		<figcaption class="info-wrap">
			<h6>Rajasthan</h6>
			<div class="action-wrap">
				<input type="button" value="Book Now!"class="btn btn-primary btn-sm float-right"(click)="ons1click()"> 
				<div class="price-wrap h5">
					<span class="price-new">Rs.4599</span>
					<del class="price-old">Rs.5500</del>
				</div> <!-- price-wrap.// -->
			</div> <!-- action-wrap -->
		</figcaption>
	</figure> <!-- card // -->
</div> <!-- col // -->

</div> <!-- row.// -->


</div> 
<!--container end-->

<br><br><br>

